@mixin heavy-shadow {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
}

@mixin light-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@mixin box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

@mixin button($background-color, $text-color: white, $font-size: 1rem) {
  button {
    border: none;
    border-radius: $font-size / 5;
    background-color: $background-color;
    color: $text-color;
    font-size: $font-size;
    padding: 0.5rem 1rem;
    @include light-shadow;
    @include box-shadow;
  }
}
